* {
  margin: 0;
  padding: 0;
  background-image: url(../src/assets/descarga.jpg);
  
}

body {
  background-color: #f0f0f0;
  overflow-x: hidden;
  color: whitesmoke;
  height: 100%;
}

ul {
  list-style-type: none;
}

.nav-link {
  color: inherit;
}

.titulo {
  color: whitesmoke;
}

.nav {

  color: whitesmoke;
  cursor: pointer;
}

.logo {
  height: 100px;
  border-radius: 3rem;
}

.card-text {
  color: whitesmoke;
}

img {
  max-width: 100%;
  border-radius: 1rem;
}

.container-productos {
  min-height: 100%;
  position: relative;
}

footer {
  color: whitesmoke;
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  width: 100%;

}